/config.properties
/ehcache.xml
/initDataBase.xml
/log4j.properties
/spring-cxf.xml
/spring-druid.xml
/spring-ehcache.xml
/spring-hibernate.xml
/spring-javamelody.xml
/spring-tasks.xml
/spring.xml
/struts.xml
/sys
/xwork-conversion.properties
